@model MVCDay2.Models.Instructor

@{
    ViewData["Title"] = "New";
    SelectList deptitems = new SelectList(ViewBag.DeptList,"Id","Name");
    SelectList courseitems = new SelectList(ViewBag.CourseList, "Id", "Name");
}

<h1>New</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="New" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger">
                <!--ALL : Error Model Or not-->
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" ></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" type="file" name="imageFile" class="form-control" accept="images/*" />
                @*<input type="file" name="imageFile" accept="images/*" required />*@
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Dept_id" class="control-label"></label>
                <select asp-for="Dept_id" class="form-control" asp-items="deptitems">
                    <option value="0">--select Department--</option>
                </select>
                <span asp-validation-for="Dept_id" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Crs_id" class="control-label"></label>
                <select asp-for="Crs_id" class="form-control" asp-items="courseitems">
                    <option value="0">--select Course--</option>
                </select>
                <span asp-validation-for="Crs_id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="New" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="AllInstructors" asp-controller="Instructor" class="btn btn-secondary">Back to List</a>
</div>
@section Scripts{
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
};
